
{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
  <center>
  <h1>School Details</h1>
  <br></br>
  {% if submitted %}
    Your Form was submitted Successfully!
  {% else %}
    <form action="{% url 'school' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <a href="{% url 'recommendation' %}">
            <input type="submit" value="Submit" class="btn-btn-secondary">
        </a>
      </form>
  </center>
  {% endif %}
{% endblock %}
