

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main_box">
    <div class="sidebar_menu">
      <div class="logo">
         <a href="#">Sponsorship</a>
      </div>
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Upload Documents</a></li>
        <li><a href="#">Applications</a></li>
        <li><a href="#">Sponsors</a></li>
        <li><a href="#">Approved Applications</a></li>
        <li><a href="#">Reset Password</a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a>Logout</li>
      </ul>
    </div>
  </div>
</body>
</html>